.header {
    display: flex;
    background-color: #1F2937;
    color: white;
}


ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}