body {
    margin: 0;
}


.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-evenly;
}

.body-one {
    display: flex;
    background-color: #1F2937; 
    color: white;
    justify-content: space-evenly;

}

.body-one .right {
    background-color: grey;
}

.image {
    background-color: grey;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 22px;
}

a {
    text-decoration: none;
    color: white;
}