body {
    margin: 0;
    font-family: "Roboto";
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-evenly;
    padding: 16px 0px;
}

.body-one {
    display: flex;
    background-color: #1F2937; 
    color: white;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.body-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.body-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
    padding-bottom: 125px;
}

.quote {
    width: 800px;
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.author {
    width: 800px;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.body-one .right {
    background-color: grey;
}

.image {
    background-color: grey;
}

.illustration {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.text {
    display: flex;
    text-align: center;
}

.top {
    margin: 25px 0px;
}

.bottom {
    display: flex;
    gap: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 22px;
}

a {
    text-decoration: none;
    color: white;
}